In [1]:
!./download_datasets.sh

Datasets already downloaded

# Imports

In [2]:
import pandas as pd
import numpy as np
import glob
import os

## General Info

In [3]:
!ls datasets.uwf.edu/data/UWF-ZeekData22/csv

index.html
part-00000-0af89d10-df53-44fd-b124-a8a496fd5023-c000.csv
part-00000-15e3dd03-ea76-429e-a52a-ce96a90517f9-c000.csv
part-00000-318611a1-7cdc-4dd0-9348-c6368917fd0c-c000.csv
part-00000-5b4f5c3f-e8a9-4020-8fa1-e8985f7c27f3-c000.csv
part-00000-95e0a460-e7c5-4b35-8367-c2e6fbbcf9e1-c000.csv

In [4]:
# Source - https://stackoverflow.com/a/21232849
# Posted by Gaurav Singh, modified by community. See post 'Timeline' for change history
# Retrieved 2026-02-05, License - CC BY-SA 4.0
path = 'datasets.uwf.edu/data/UWF-ZeekData22/csv'

all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [5]:
df.head()

,resp_pkts,service,orig_ip_bytes,local_resp,missed_bytes,protocol,duration,conn_state,dest_ip,orig_pkts,...,orig_bytes,local_orig,datetime,history,resp_bytes,uid,src_port,ts,src_ip,mitre_attack_tactics
0,2,dns,186,False,0,udp,0.002242,SF,143.88.5.1,2,...,130.0,False,2022-02-10T04:00:00.089Z,Dd,130.0,CwYA8M2mT6ATemGMV5,41058,1.644466e+09,143.88.5.12,Reconnaissance
1,2,dns,186,False,0,udp,0.002242,SF,143.88.5.1,2,...,130.0,False,2022-02-10T04:00:00.089Z,Dd,130.0,CwYA8M2mT6ATemGMV5,41058,1.644466e+09,143.88.5.12,Reconnaissance
2,2,dns,186,False,0,udp,0.002242,SF,143.88.5.1,2,...,130.0,False,2022-02-10T04:00:00.089Z,Dd,130.0,CwYA8M2mT6ATemGMV5,41058,1.644466e+09,143.88.5.12,Reconnaissance
3,2,dns,186,False,0,udp,0.002242,SF,143.88.5.1,2,...,130.0,False,2022-02-10T04:00:00.089Z,Dd,130.0,CwYA8M2mT6ATemGMV5,41058,1.644466e+09,143.88.5.12,Reconnaissance
4,2,dns,186,False,0,udp,0.002242,SF,143.88.5.1,2,...,130.0,False,2022-02-10T04:00:00.089Z,Dd,130.0,CwYA8M2mT6ATemGMV5,41058,1.644466e+09,143.88.5.12,Reconnaissance

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2044734 entries, 0 to 2044733
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   resp_pkts             int64
 1   service               str
 2   orig_ip_bytes         int64
 3   local_resp            bool
 4   missed_bytes          int64
 5   protocol              str
 6   duration              float64
 7   conn_state            str
 8   dest_ip               str
 9   orig_pkts             int64
 10  community_id          str
 11  resp_ip_bytes         int64
 12  dest_port             int64
 13  orig_bytes            float64
 14  local_orig            bool
 15  datetime              str
 16  history               str
 17  resp_bytes            float64
 18  uid                   str
 19  src_port              int64
 20  ts                    float64
 21  src_ip                str
 22  mitre_attack_tactics  str
dtypes: bool(2), float64(4), int64(7), str(10)
memory usage: 331.5 MB

In [7]:
df.shape

(2044734, 23)

In [8]:
df.describe()

,resp_pkts,orig_ip_bytes,missed_bytes,duration,orig_pkts,resp_ip_bytes,dest_port,orig_bytes,resp_bytes,src_port,ts
count,2.044734e+06,2.044734e+06,2044734.0,1.911026e+06,2.044734e+06,2.044734e+06,2.044734e+06,1.911026e+06,1.911026e+06,2.044734e+06,2.044734e+06
mean,4.936769e-01,1.390265e+02,0.0,1.013891e+00,1.820737e+00,3.873640e+01,1.559832e+02,4.692287e+03,2.469625e+01,4.580034e+04,1.642620e+09
std,8.687251e-01,1.078382e+02,0.0,4.039728e+00,1.070112e+00,8.727266e+01,1.730872e+03,2.938787e+06,5.466331e+01,1.082594e+04,1.072049e+06
min,0.000000e+00,0.000000e+00,0.0,9.536743e-07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.641708e+09
25%,0.000000e+00,1.340000e+02,0.0,1.406670e-05,2.000000e+00,0.000000e+00,5.300000e+01,7.800000e+01,0.000000e+00,3.924900e+04,1.641911e+09
50%,0.000000e+00,1.380000e+02,0.0,1.883507e-05,2.000000e+00,0.000000e+00,5.300000e+01,8.200000e+01,0.000000e+00,4.656200e+04,1.642109e+09
75%,1.000000e+00,1.580000e+02,0.0,1.578331e-04,2.000000e+00,6.700000e+01,5.300000e+01,1.020000e+02,0.000000e+00,5.384700e+04,1.642311e+09
max,9.000000e+01,1.123100e+04,0.0,3.256383e+02,7.100000e+01,7.527500e+04,6.538900e+04,1.987041e+09,3.663100e+04,6.553500e+04,1.644573e+09

Check for null values

In [9]:
df.isna().any()

resp_pkts               False
service                  True
orig_ip_bytes           False
local_resp              False
missed_bytes            False
protocol                False
duration                 True
conn_state              False
dest_ip                 False
orig_pkts               False
community_id            False
resp_ip_bytes           False
dest_port               False
orig_bytes               True
local_orig              False
datetime                False
history                  True
resp_bytes               True
uid                     False
src_port                False
ts                      False
src_ip                  False
mitre_attack_tactics    False
dtype: bool

In [10]:
df.isna().sum()

resp_pkts                    0
service                  53389
orig_ip_bytes                0
local_resp                   0
missed_bytes                 0
protocol                     0
duration                133708
conn_state                   0
dest_ip                      0
orig_pkts                    0
community_id                 0
resp_ip_bytes                0
dest_port                    0
orig_bytes              133708
local_orig                   0
datetime                     0
history                  18517
resp_bytes              133708
uid                          0
src_port                     0
ts                           0
src_ip                       0
mitre_attack_tactics         0
dtype: int64

In [11]:
df['service']

0          dns
1          dns
2          dns
3          dns
4          dns
          ...
2044729    dns
2044730    dns
2044731    dns
2044732    dns
2044733    dns
Name: service, Length: 2044734, dtype: str

In [15]:
df['service'].unique()

<StringArray>
['dns', 'dhcp', 'ntp', 'ssl']
Length: 4, dtype: str

# Class distribution

In [16]:
df['mitre_attack_tactics'].unique()

<StringArray>
['Reconnaissance', 'none']
Length: 2, dtype: str